<div class="card-body px-4 w-96">
    
    {% for product in products.products %}
    <div class="bg-neutral p-2 rounded-xl">
        <h3 class="text-lg font-semibold mb-2 text-white">{{product.name_wo_brand}} | {{product.brand}} |
            {{product.price}}{{product.currency.value}}</h3>
        <!-- <div class="divider divider-primary py-0"></div> -->
        <hr class="h-px my-2 bg-white border-0">


        <h4 class="font-semibold text-white">Pros: </h4>
        <ul class="list-disc text-sm px-8">
            {% for pro in product.pros %}
            <li>{{pro}}</li>
            {% endfor %}
        </ul>
        <p></p>
        <h4 class="font-semibold text-white">Cons: </h4>
        <ul class="list-disc text-sm px-8">
            {% for con in product.cons %}
            <li>{{con}}</li>
            {% endfor %}
        </ul>
        
    </div>
    {% endfor %}
    <p>{{products.transcript}}</p>